<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Alela!</title>

    <link href="vendors/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="vendors/animate/animate.min.css" rel="stylesheet">

    <link href="build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form action="{{ url('login') }}" method="POST" novalidate>
                    <h1>Login Form</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" name="username" required=""/>
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" name="password" required=""/>
                    </div>
                    {% if errors['login'] %}
                    <div class="alert red">
                        <p>{{ errors['login'] }}</p>
                    </div>
                    {% endif %}
                    <div>
                        <span class="input-group-btn"><button class="btn btn-default submit" type="submit">Log in</button></span>
                        <a class="btn btn-outline-primary" href="#">Lost your password?</a>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">New to site?
                            <a href="#signup" class="to_register"> Create Account </a>
                        </p>
                        <div class="clearfix"></div>
                        <br/>
                        <div>
                            <h1><i class="fa fa-paw"></i> Alela!</h1>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div id="register" class="animate form registration_form">
            <section class="login_content">
                <form action="{{ url('register') }}" method="POST" novalidate>
                    <h1>Create Account</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="Username" name="username" value="{{ content['username'] }}" required=""/>
                        {% if errors['register_user'] %}
                            <div class="alert red">
                                <p>{{ errors['register_user'] }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <!--<div>
                        <input type="email" class="form-control" placeholder="Email" required=""/>
                    </div>-->
                    <div>
                        <input type="password" class="form-control" placeholder="Password" name="password" value="{{ content['password'] }}" required=""/>
                        {% if errors['register_password'] %}
                            <div class="alert red">
                                <p>{{ errors['register_password'] }}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if errors['register_exists'] %}
                        <div class="alert red">
                            <p>{{ errors['register_exists'] }}</p>
                        </div>
                    {% endif %}
                    <div>
                        <span class="input-group-btn"><button class="btn btn-default submit" type="submit">Submit</button></span>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a href="#signin" class="to_register"> Log in </a>
                        </p>
                        <div class="clearfix"></div>
                        <br/>
                        <div>
                            <h1><i class="fa fa-paw"></i> Alela!</h1>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
</html>
